                <!-- color below is a var created in the message ts -->
                <article class="panel panel-default" [ngStyle]="{backgroundColor: color}" (mouseenter)="color = 'lightgreen'" (mouseleave)="color = '#BADA55'">
                    <div class="panel-body">
                        {{ message.content }}
                    </div>
                    <footer class="panel-footer">
                        <div class="author">
                            {{ message.username }}
                        </div>
                        <div class="config">
                            <a (click)="onEdit()">Edit</a>
                            <a (click)="onDelete()">Delete</a>
                        </div>
                    </footer>
                </article>  